/* ================================ */
/* - HUKOR NEWS CUSTOM STYLESHEET - */
/* ================================ */

body {
  background: url(../images/bg1.png) repeat;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 12px;
}

/* HUKOR NEWS CUSTOM LAYOUT */
.accent {
  display: block;
  width: 100%;
  height: 3px;
  background: #202020;
}
#top-bar {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 10001;
}
.header {
  background: #2980b9;
  padding: 0 20px;
  height: auto;
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, .15);
}
.header .logo {
  width: auto;
  min-width: 100px;
  padding: 0 0 12px;
  height: auto;
  /*background: rgba(0, 0, 0, .075);*/
}
.header .logo img {
  padding-top: 20px;
  padding-bottom: 4px;
}
.headmenu > li {
  font-size: 12px;
  text-transform: uppercase;
}
.headmenu > li, .headmenu > li.odd {
  background: transparent;
  border: none;
  margin-left: 6px;
}
.headmenu > li > a, .headmenu > li.odd > a {
  background: transparent;
  padding: 32px 8px 18px;
  text-align: center;
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, .15);
}
.headmenu > li > a > span[class *= "rulycon"] {
  font-size: 11px;
  padding: 8px 9px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50em;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.headmenu > li > a:hover > span[class *= "rulycon"] {
  padding: 18px 19px;
  border-width: 6px;
  border-color: rgba(0, 0, 0, .25);
}
.headmenu > li > a .headmenu-label {
  margin-top: 10px;
  opacity: 1;
  font-size: 11px;
}
.headmenu > li > a:hover .headmenu-label {
  opacity: 0;
  /*margin-top: -2px;
  padding-bottom: 12px;*/
}
.headmenu > li:nth-child(1) > a { background: #4fb4c0; }
.headmenu > li:nth-child(2) > a { background: #00a5e2; }
.headmenu > li:nth-child(3) > a { background: #5eb35e; }
.headmenu > li:nth-child(4) > a { background: #e19544; }
.headmenu > li:nth-child(5) > a { background: #dc5f3a; }
.headmenu > li:nth-child(6) > a { background: #c64040; }
/*.headmenu > li:nth-child(1) > a { background: #5fc6d2; }
.headmenu > li:nth-child(2) > a { background: #00BAFF; }
.headmenu > li:nth-child(3) > a { background: #6ec36e; }
.headmenu > li:nth-child(4) > a { background: #d29a5f; }
.headmenu > li:nth-child(5) > a { background: #EC643C; }
.headmenu > li:nth-child(6) > a { background: rgba(0, 0, 0, .25); }*/
.headmenu .dropdown-menu {
  display: block;
  width: 100%;
}
.headerinner {
  margin: 0 !important;
}
.sub-header {
  background: #226c9c;
  display: block;
  width: 100%;
  min-height: 33px;
}
.sub-menu ul {
  display: inline-table;
}
.sub-menu li {
  display: inline-block;
  list-style: none;
  color: #ffffff;
}
.sub-menu li a {
  color: #ffffff;
  display: inline-block;
  margin-right: 18px;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 11px;
}
.sub-menu li a:hover {

}
.sub-menu li a > [class*=rulycon] {
  margin-right: 4px;
}
.sub-menu .sub-menu-indicator {
  text-transform: uppercase;
  margin-right: 12px;
}
/*.sub-menu .has-child {
  position: relative;
}*/
.sub-menu .has-child ul {
  position: absolute;
  background: url("../images/leftpanelbg.png") repeat;
  margin-left: -16px;
  display: none;
  opacity: 0;
}
.sub-menu .has-child > ul li {
  display: block;
  width: 100%;
}
.sub-menu .has-child > ul li a {
  margin-right: 0;
  padding: 8px 16px;
  display: block;
}
.sub-menu .has-child > ul li a:hover {
  background: rgba(0, 0, 0, .25);
}
.sub-menu .has-child:hover > ul {
  display: block;
  opacity: 1;
}
.content-wrapper {
  margin-top: 160px;
}
.maincontent {
  background: url("../images/bg1.png") repeat;
  margin-bottom: 48px;
}
#main-carousel {
  margin-bottom: 32px;
  border: 6px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
#main-carousel.boxed {
  margin-top: 32px;
}
.carousel-inner > .item {
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-caption {
  background: rgba(255, 255, 255, .52);
  padding: 16px 24px;
}
.carousel-caption h3, .carousel-caption p {
  width: 55%;
}
.carousel-caption h3 {
  color: #226C9C;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 0 6px;
  font-family: "pt_sans_narrowbold", sans-serif;
}
.carousel-caption p {
    color: #226C9C;
  line-height: 160%;
}
.boxed .carousel-indicators {
  top: 16px;
  right: 16px;
}
.carousel-indicators {
  right: 24px;
  top: 24px;
}
.carousel-indicators li {
  width: 24px;
  height: 6px;
  border-radius: 0;
  margin-right: 0;
}
.carousel-indicators li:hover {
  cursor: pointer;
}
.latest-news {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, .025);
  padding: 24px;
  margin-bottom: 32px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.latest-news h6 {
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  color: #dc3c00;
}
.latest-news p:first-child {
  font-weight: bold;
}
.latest-news span[class *= "rulycon"] {
  margin-right: 4px;
}
.section-title {
  position: relative;
  background: url("../images/leftpanelbg.png") repeat;
  color: #ffffff;
  padding: 12px 24px;
  font-weight: normal;
  font-size: 16px;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, .25);
}
.section-title#news-feed:after, .section-title.widgets:after {
  font-family: Rulycons;
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  color: #ffffff;
}
.section-title#news-feed:after {
  content: "\e004";
}
.section-title.widgets > * {
  display: block;
  width: 100%;
}
.news-content {
  padding: 32px 0 48px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, .075);
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.news-content .read-more, .latest-news .read-more {
  color: #dc3c00;
}
.news-content .read-more span[class *= "rulycon"],
.latest-news .read-more span[class *= "rulycon"] {
  margin-left: 4px;
}
.news-content .span3 > img {
  border: 4px solid #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
.news-content h4 {
  font-style: italic;
  font-size: 20px;
}
.news-content h4 > a {
  color: #4fb4c0;
}
.news-content .date-time {
  margin-bottom: 12px;
  font-size: 11px;
  color: rgba(0, 0, 0, .55);
}
.pagination {
  margin-top: 24px;
  margin-bottom: 24px;
}
.pagination ul {
  box-shadow: none;
}
.pagination > ul > li a {
  margin-right: 6px;
  padding: 6px 12px;
  border: none;
}
.pagination > ul > li.disabled a {
  background: #2980b9;
  color: #ffffff;
}
.pagination > ul > li a {
  background: #ffffff;
  color: #2980b9;
}
.pagination > ul > li a:hover {
  background: transparent;
}
.footer {
  padding: 32px 0;
  /*background: #02A29E;*/
  background: url("../images/leftpanelbg.png") repeat;
  color: #ffffff;
  box-shadow: inset 0 8px 0 #1e577e;
}
.footer address {
  margin-bottom: 12px;
}
.footer address > span:first-child {
  font-size: 15px;
}
.footer .social-links span[class *= "rulycon"] {
  font-size: 16px;
  padding: 6px 6px 4px;
  color: #ffffff;
}
.footer-menu {
  float: left;
  margin: 0;
  margin-right: 48px;
}
.footer-menu > li {
  list-style: none;
}
.footer-menu > li:first-child {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .075);
  margin-bottom: 8px;
  color: #dc3c00;
  font-size: 13px;
  line-height: 200%;
}
.footer-menu > li > a {
  color: #ffffff;
  max-width: 120px;
  /*text-transform: uppercase;*/
}
.rulycon-facebook { background: #4d73b5; }
.rulycon-twitter { background: #15aef0; }
.rulycon-linkedin { background: #0077b5; }
.rulycon-yahoo { background: #6e329d; }

.rowsy ul {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  min-height: 68px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, .055);
  margin-bottom: 24px;
  text-align: center;
}
.rowsy li {
  display: inline-block;
  list-style: none;
  width: 9.0909%;
  text-align: center;
}
.rowsy li img {
  width: 95%;
}

.widget-body {
  display: block;
  width: 100%;
  margin: 4px 0 24px;
  background: #4fb4c0;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, .25);
}
.widget-body #header {
  text-align: left;
  color: #ffffff;
  padding: 12px 24px;
}
.widget-body .widget-content {
  color: #ffffff;
  text-align: center;
  font-family: "monacoregular", "Monaco", monospace;
  font-size: 48px;
}
.widget-body .widget-content p {
  line-height: 160%;
  padding-top: 12px;
  padding-bottom: 6px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}
#counter-widget .widget-body {
  position: relative;
  background: -moz-linear-gradient(top, #4fb4c0 0%, #3b9eaa 50%, #4fb4c0 51%, #3b9eaa 100%);
  background: -ms-linear-gradient(top, #4fb4c0 0%, #3b9eaa 50%, #4fb4c0 51%, #3b9eaa 100%);
  background: -o-linear-gradient(top, #4fb4c0 0%, #3b9eaa 50%, #4fb4c0 51%, #3b9eaa 100%);
  background: -webkit-linear-gradient(top, #4fb4c0 0%, #3b9eaa 50%, #4fb4c0 51%, #3b9eaa 100%);
  background: linear-gradient(top, #4fb4c0 0%, #3b9eaa 50%, #4fb4c0 51%, #3b9eaa 100%);
}
#counter-widget .widget-body:after {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #3b8790;
  content: "";
  top: 50%;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}
#counter-widget .section-title:after { content: "\e04d"; }
#twitter-widget .section-title:after { content: "\e16d"; }

#paging_container .content {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}
#paging_container .content > li {
  list-style: none;
}
#paging_container .content > li:hover {
  background: rgba(0, 0, 0, .025);
}

.page_navigation > a {
  background: #ffffff;
  padding: 12px 8px;
  margin-left: 4px;
  margin-right: 4px;
}
.page_navigation > a:hover {
  cursor: pointer;
}
.page_navigation > a:first-child { margin-left: 0; }
.page_navigation > a:last-child { margin-right: 0; }
.page_navigation > a.active_page, .page_navigation > a.no_more,
.page_navigation > a:hover {
  background: #2980b9;
  color: #ffffff;
  cursor: default;
}

