/* =========================== */
/* - HUKOR CUSTOM STYLESHEET - */
/* =========================== */

/* RESETTER TEMPLATE - DON'T YOU DARE TO TOUCH THESE BLOCK */
html, body, .mainwrapper, .mainwrapper .header,
.mainwrapper .leftpanel, .mainwrapper .rightpanel {
  height: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.mainwrapper .header, .mainwrapper .leftpanel, .mainwrapper .rightpanel {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  background: url(../images/leftpanelbg.png) repeat 0 0;
}
.mainwrapper .header, .mainwrapper .leftpanel, .mainwrapper .rightpanel {
  display: block;
  width: 100%;
  float: none;
  margin: 0 !important;
}
.leftpanel {
  background: url("../images/leftpanelbg.png") repeat 0 0;
}

/* HUKOR SIGN IN PAGE ONLY */
body.loginpage {
  background: url("../images/bg1.png") repeat;
}
.loginpanel {
  position: relative;
  display: block;
  /*width: 100%;*/
  top: 20%;
  left: 0;
  height: auto;
  background: rgba(0, 0, 0, .025);
  border: 1px solid rgba(0, 0, 0, .025);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}
.loginpanelinner {
  margin: auto;
  top: 0;
  left: 0;
  display: block;
  width: 320px;
  padding: 40px 80px 60px;
}
.loginpanelinner > img {
  display: block;
  margin-bottom: 20px;
}
.loginpanelinner input, .loginpanelinner button {
  display: block;
  width: 100%;
  padding: 10px;
  height: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HUKOR CUSTOM LAYOUT */
input, textarea, select {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: none !important;
}
.mainwrapper .header, .mainwrapper .leftpanel, .mainwrapper .rightpanel {
  display: inline-block;
}
.mainwrapper .header { width: 6%; }
.mainwrapper .leftpanel { width: 24%; }
.mainwrapper .rightpanel { width: 69.5%; }
#main-menu {
  margin-top: 8px;
}
#main-menu > li > a {
  font-size: 10px;
  color: rgba(255, 255, 255, .55);
  text-transform: uppercase;
  text-align: center;
  line-height: 120%;
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, .1);
  padding: 12px 0;
  margin-bottom: 1px;
  box-shadow: inset -4px 0 0 rgba(0, 0, 0, .25);
}
#main-menu > li > a:hover {
  text-decoration: none;
}
#main-menu > li > a > span[class*=rulycon] {
  font-size: 24px;
  display: block;
  margin-bottom: 4px;
}
#logo-wrapper {
  text-align: center;
  padding: 20px 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
#welcome-message {
  padding: 20px 20px 10px;
}
#welcome-message > p {
  text-transform: uppercase;
  font-family: "robotocondensed", sans-serif;
  line-height: 100%;
  color: #999999;
}
#welcome-message #user-name {
  display: block;
  width: 100%;
  font-size: 18px;
}
#user-links {
  padding: 0 20px 30px;
}
#user-links > a {
  display: inline-block;
  width: 49%;
  background: rgba(0, 0, 0, .075);
  font-size: 11px;
  text-align: center;
  padding: 2px 12px;
  text-transform: uppercase;
  color: #999999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.leftmenu .nav-tabs.nav-stacked > li.active > a,
.leftmenu .nav-tabs.nav-stacked > li.active > a:hover {
  background: #6c5c51;
}

div.DTTT_container {
  float: left;
}

.rightpanel .alert:not(.alert-block) {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 360px;
    border-radius: 4px;
}
.rightpanel .alert .close {
    top: 0;
    right: 0;
}

.loginpage .alert {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 360px;
    border-radius: 4px;
}
.loginpage .alert .close {
    top: 0;
    right: 0;
}

select option{
    border-bottom: solid #DDDDDD;
}