/* ================================ */
/* - HUKOR NEWS CUSTOM STYLESHEET - */
/* ================================ */

body {
  background: url(../images/bg1.png) repeat;
}
a:hover {
  text-decoration: none;
}
p {
  margin-bottom: 12px;
}

/* HUKOR NEWS CUSTOM LAYOUT */
.accent {
  display: block;
  width: 100%;
  height: 3px;
  background: #202020;
}
#top-bar {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 10001;
}
.header {
  background: #064d95;
  padding: 0 20px;
  height: auto;
  box-shadow: inset 0 6px 0 rgba(0, 0, 0, .15);
}
.header .logo {
  width: auto;
  min-width: 100px;
  padding: 0 0 12px;
  height: auto;
  /*background: rgba(0, 0, 0, .075);*/
}
.header .logo img {
  padding-top: 28px;
  padding-bottom: 4px;
}
.headmenu > li {
  font-size: 12px;
  text-transform: uppercase;
}
.headmenu > li, .headmenu > li.odd {
  background: rgba(0, 0, 0, .15);
  border: none;
  margin-left: 1px;
}
.headmenu > li > a {
  padding: 32px 8px 16px;
  text-align: center;
  /*box-shadow: inset 0 -4px 0 rgba(0, 0, 0, .25);*/
}
.headmenu > li > a > span[class *= "rulycon"] {
  font-size: 11px;
  padding: 8px 9px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50em;
}
.headmenu > li > a .headmenu-label {
  margin-top: 10px;
  opacity: 1;
  font-size: 11px;
}
.headmenu .dropdown-menu {
  display: block;
  width: 100%;
}
.headerinner {
  margin: 0 !important;
}
.sub-header {
  background: url("../images/leftpanelbg.png") repeat;
}
.sub-menu li {
  display: inline-block;
  list-style: none;
  color: #ffffff;
}
.sub-menu li a {
  color: #ffffff;
  display: inline-block;
  margin-right: 18px;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 11px;
}
.sub-menu li a > [class*=rulycon] {
  margin-right: 4px;
}
.sub-menu .sub-menu-indicator {
  text-transform: uppercase;
  margin-right: 12px;
}
.content-wrapper {
  margin-top: 136px;
}
.maincontent {
  background: url("../images/bg1.png") repeat;
  margin-bottom: 48px;
}
#main-carousel {
  margin-bottom: 32px;
}
.carousel.slide > .container {
  position: relative;
}
.carousel-inner > .item {
}
.carousel-inner > .item > img {
  width: 100%;
}
.carousel-indicators li {
  width: 24px;
  height: 6px;
  border-radius: 0;
  margin-right: 0;
}
.carousel-indicators li:hover {
  cursor: pointer;
}
.section-title {
  position: relative;
  background: #dc3c00;
  color: #ffffff;
  padding: 12px 24px;
  font-weight: normal;
  font-size: 16px;
}
.section-title#widgets {
  background: #02A29E;
}
.section-title#news-feed:after, .section-title#widgets:after {
  font-family: Rulycons;
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  color: #ffffff;
}
.section-title#news-feed:after {
  content: "\e004";
}
.section-title#widgets:after {
  content: "\e14c";
}
.news-content {
  padding: 24px;
  border-bottom: 1px solid rgba(220, 60, 0, .25);
}
.news-content:hover {
  background: rgba(255, 255, 255, .85);
}
.news-content h4 {
  margin-bottom: 16px;
  font-style: italic;
  font-size: 20px;
}
.news-content .date-time.pull-right {
  font-family: "Monaco", monospace;
  font-size: 10px;
  color: #dc3c00;
}
.pagination {
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer {
  padding: 32px 0;
  /*background: #02A29E;*/
  background: url("../images/leftpanelbg.png") repeat;
  color: #ffffff;
  box-shadow: inset 0 8px 0 rgba(0, 0, 0, .25);
}
.footer-menu {
  float: left;
  margin: 0;
  margin-right: 48px;
}
.footer-menu > li {
  list-style: none;
}
.footer-menu > li:first-child {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, .075);
  margin-bottom: 8px;
  color: #dc3c00;
  font-size: 13px;
  line-height: 200%;
}
.footer-menu > li > a {
  color: rgba(255, 255, 255, .55);
  text-transform: uppercase;
}